body {
    padding: 75px 0 36px;
}
.icon {
    font-size: 12px;
}
.remove-match-option,
.move-match-option {
    max-height: 38px;
    width: 8%;
}
    .move-match-option .icon {
        font-size: 18px;
    }
.panel-small {
    padding: 8px 15px;
}
#conditions .row {
    margin-bottom: 20px;
}
.dropdown-menu .checkbox {
    margin: 0 auto;
    width: 80%;
}
footer {
    background: #eee;
    bottom: 0;
    font-size: 12px;
    height: 36px;
    left: 0;
    padding: 11px;
    position: fixed;
    right: 0;
}
#expression {
    border-left: 1px solid #ddd;
    padding: 8px 15px;
}
.match-options {
    display: inline-block !important;
    width: 16.666666666666664% !important;
}